* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color-scheme: white;
}
// .cards {
//   display: flex;
//   flex-wrap: wrap;
//   .card {
//     img {
//       object-fit: cover;
//       width: 500px;
//       height: 500px;
//     }
//   }
// }
